:root {
  --ifm-color-primary: #0077B6;
  --ifm-color-primary-dark: #006BA4;
  --ifm-color-primary-darker: #00659B;
  --ifm-color-primary-darkest: #005380;
  --ifm-color-primary-light: #0083C8;
  --ifm-color-primary-lighter: #0089D1;
  --ifm-color-primary-lightest: #009BEC;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #4FC3F7;
  --ifm-color-primary-dark: #2AB8F5;
  --ifm-color-primary-darker: #17B1F4;
  --ifm-color-primary-darkest: #0895D5;
  --ifm-color-primary-light: #74CEF9;
  --ifm-color-primary-lighter: #87D5FA;
  --ifm-color-primary-lightest: #BBE6FC;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
